<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Andela's Inventory Manager.
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/login">LOG OUT</a></li>
            <li><a href="/addasset">ADD ASSETS</a></li>
            <li><a href="/assignasset">ASSIGN ASSET</a></li>
            <li><a href="/reclaimasset">RECLAIM ASSET</a></li>
            <li><a href="/viewasset">VIEW ASSETS</a></li>
            <li><a href="/viewlost">VIEW LOST</a></li>
            <li><a href="/resolvelost">RESOLVE LOST</a></li>
        </ul>
      
    </div>
</nav>