<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Andela's Inventory Manager.
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">LOG OUT</a></li>
            <li><a href="/about">ADD ASSETS</a></li>
            <li><a href="/">ASSIGN ASSET</a></li>
            <li><a href="/about">RECLAIM ASSET</a></li>
            <li><a href="/">VIEW ASSETS</a></li>
            <li><a href="/about">LOST ASSETS</a></li>
            <li><a href="/about">RESOLVE LOST ASSETS</a></li>
        </ul>
      
    </div>
</nav>