<html>
    <head>
        <title>Andela's Inventory Manager</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="custom.css">
        <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    </head>
    <body>

        <div class="container">

        <div class="row">
                <div class="col-md-9">

                    <h1>Andela's Inventory Manager</h1>
                    <p class="lead"></p>
                    <p class="lead">Welcome! This App helps you to manage Andela's Inventory.</p>
                    <br><br>
                </div>
                <div class="col-md-6">
                    <form id="login-form" method="post" action="myjsfile.js" role="form">
                          <div class="imgcontainer">
                            <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                            <br><br>
                            <p class="lead">LOGIN </p>
                          </div>
                            <div id="divID" class="messages">
                                
                            </div>

                            <div id="formelement2" class="controls">

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group ">
                                            <label for="form_name">Email Address *</label>
                                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your Email Address *" required="required" data-error="Email address is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="controls" >
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="form_name">Password *</label>
                                            <input id="form_name" type="password" name="name" class="form-control" placeholder="Please enter your password *" required="required" data-error="Password is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="controls" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send" value="LOGIN">
                                    </div>
                                </div>
                            </div>
                     </form>
                </div>
            <button type="button" onclick="savedata();" >Save Data</button>
           </div>
            </div>

        </div>
    </body>
</html>