<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <br><br>

    <main>
    <p><span style="color:red">Welcome</span> Guest</p> 
        <div class="jumbotron">
             <br>
             <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row">
              <div class="col-xs-5">
               <form action="/login" method="post">
                    <div class="form-group">
                        <label for="username">username</label>
                         <input type="text" class="form-control" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                 </form>
              </div>
              <div class="col-xs-7">
              </div>
            </div>
            <br>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>