<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../../partials/headermember %>
    </header>

    <main>
    <strong><p class="text-danger">MEMBER PANEL</p></strong>
    <p><span style="color:red">Welcome</span> Francis</p> 
        <div class="jumbotron">
            <p class="text-danger">Report missing asset</p>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
    
</body>
</html>